name: Sync GitHub README with Docker Hub

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - README.md

jobs:
  github-docker:
    name: Sync GitHub README with Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@v5
        with:
          repository: zenjoy/ruby
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          short-description: ${{ github.event.repository.description }}
